@using Hijr.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Login | Hijr</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
 
    <!-- font icon -->
    <link href="~/Content/Site.css" rel="stylesheet" />
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        #myDiv {
            color: Green;
            background-color: #eee;
            border: 2px solid #333;
            display: none;
            text-align: justify;
        }
    </style>
</head>
<body class="login-img2-body">
    <div class="container">

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="login-wrap">
            <p class="login-img"><img src="~/img/th-logo.png" alt="" /></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>


                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="button" id="loginbutton" onclick="location.href='@Url.Action("Index", "Home")'">Login</button>

        </div>
}
    </div>

    @section Scripts {
        @*@Scripts.Render("~/bundles/jqueryval")*@

    }
</body>
</html>
